.minesweeper-wrapper {
    font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.header {
    font-size: 20px;
    width: 100%;
}
.field-size {
    display: table;
    margin: 20px auto 50px;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 4px;
    background-color: rgb(194, 235, 255);
    color: rgb(0,0,255);
}
.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    background-color: rgba(0,0,0,0.6);
    transition: all .4s linear;
}
.overlay.show {
    opacity: 1;
    visibility: visible;
    transition: all .4s linear;
}
#modal {
    width: 300px;
    height: 340px;
    background-color: rgb(194, 235, 255);
    color: rgb(0,0,255);
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    opacity: 0;
    transition: all .4s linear;
    border-radius: 10px;
    border-image-source: url("../img/border1.png");
    border-image-slice: 120 160 120 fill;
    border-image-repeat: repeat stretch;
    border-image-width: auto;
    border-image-outset: 55px 52px 18px 16px;
}

#modal.open {
    visibility: visible;
    opacity: 1;
    transition: all .4s linear;
}

.glyph.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(0,0,255);
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
}

.modal-header {
    padding-top: 30px;
    font-size: 20px;
}
#modal .modal-text {
    margin-top: 35px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
}
.button {
    margin: 25px 20px 0 20px;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color:rgb(0,0,255);
    color: rgb(194, 235, 255);
    font-size: 16px;
    font-weight: 400;
}
.warning{
    border: 2px solid rgb(255,0,0);
}
.warning-text{
    color: rgb(255,0,0);
}
.minesweeper{
    margin: 0 auto;
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(221, 221, 221));
    border-radius: 5px;
    border-image-source: url("../img/border1.png");
    border-image-slice: 120 160 120 fill;
    border-image-repeat: repeat stretch;
    border-image-width: auto;
    border-image-outset: 55px 52px 18px 16px;
}
.minesweeper-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 25px;
}

.minesweeper-counter-flags {
    position: relative;
    padding-left: 35px;
    line-height: 50px;
}
.minesweeper-counter-flags:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/flag.png");
    background-size: cover;
}

.minesweeper-counter-mines {
    position: relative;
    padding-right: 35px;
    line-height: 50px;

}
.minesweeper-counter-mines:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    background-image: url('../img/mine-red.png');
    background-size: cover;
}
.game-area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: rgb(215,215,215);
}
.game-item {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 1px;
    background-color: rgb(185,185,185);
    border: 1px solid rgb(85,85,85) ;
}
.game-item.active {
    background-color: rgb(135,40,80);
}
.mine {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-image: url("../img/mine-red.png");
    background-size: cover;
}
.game-item-hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: rgb(215,215,215);
    border-bottom: 	3px solid rgb(185,185,185);
    border-right: 	3px solid rgb(185,185,185);
    border-left: 	3px solid rgb(255,255,255);
    border-top: 	3px solid rgb(255,255,255);
}
.game-item-hidden.flag {
    background-image: url("../img/flag.png");
    background-size: cover;
}

.quantity {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    font-size: 21px;
    font-weight: 900;
}
.quantity:hover {
    cursor: default;
}
.one {
    color: rgb(0,0,255);
}
.two {
    color: rgb(50,155,50);
}
.three {
    color: rgb(255,0,0);
}
.four {
    color: rgb(50,50,155);
}
.five {
    color: rgb(80,0,0);
}
.six {
    color: rgb(0,150,150);
}
.seven {
    color: rgb(80,5,50);
}
.minesweeper-footer {
    position: relative;
    margin: 15px;
    padding: 5px;
    background-color: rgb(235,235,235);
    font-size: 16px;
}

#new-field:hover {
    cursor: pointer;
}
.fa-sync-alt {
    display: none;
    color: rgb(0, 0, 255);
}
.fa-sync-alt.active {
    display: inline-block;
}